
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 2px;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #4facfe,#00f2fe,#ff9a8b,#ff6a88,#ff99ac,#87ceeb);
    background-size: 300% 300%;
    animation: gradientBG 10s ease infinite;
    color: #fff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.topbar {
    background:
        linear-gradient(55deg,#00f2fe 0%, transparent 55%),
        linear-gradient(245deg, #4facfe 0%, transparent 57%),
        #ff6a88;
    border: 2px solid #ff6ec7;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    animation: headerSlide 1s ease forwards;
    position: relative;
    z-index: 1000;
}

@keyframes headerSlide {
    from { opacity: 0; transform: translateY(-80px); }
    to { opacity: 1; transform: translateY(0); }
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ff6ec7;
    transition: 0.3s ease;
}

.logo:hover {
    transform: rotate(10deg) scale(1.1); 
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 25px;
    font-weight: 550;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 1%;
    height: 2px;
    background: #ff6ea3;
    border-radius: 10px;
    transition: 0.3s;
} 

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #ffb3e6;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #0a1a2f;
    border: 2px solid #ff6ec7;
    border-radius: 10px;
    padding: 10px 0;
    width: 220px;
    top: 27px;
    left: 0;
    z-index: 1200;
}

.dropdown-menu li {
    padding: 10px 15px;
    display: block;
}

.dropdown-menu li a {
    color: #ffe7f8;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background: #162a46;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.company-box {
    width: 100%;
    background: linear-gradient(45deg, #1a1a1a, #2c2c2c, #3a3a3a, #1f1f1f, #2e2e2e);
    border: 2px solid #ffffff20;
    padding: 40px;
    border-radius: 25px;
    margin: 50px auto;
    color: #fff;
    animation: companyGradient 10s ease infinite;
    background-size: 300% 300%;
    position: relative;
    z-index: 1;
}


@keyframes companyGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.company-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s, box-shadow 0.3s;
}


.company-box .company-content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 40px;
    flex-wrap: wrap;
}

.company-text {
    flex: 1 1 500px;
    text-align: left;
}

.company-logo img {
    width: 130px;
    height: auto;
    margin-bottom: 25px;
}

.company-name {
   font-family: "Saira Stencil One", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.company-about {
     font-family: "Orbitron", sans-serif;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    justify-content: left;
    gap: 25px;
}

.social-links a {
    font-size: 28px;
    color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    background: #ffffff20;
    transition: 0.3s;
}

.social-links a:hover {
    background: #ff7782;
    transform: scale(1.1);
}

.company-image {
    /* flex: 1 1 400px; */
    display: flex;
    justify-content: right;
}

.company-image img {
    width: 100%;
    max-width: 750px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.company-image img:hover {
    transform: scale(1.05);
}


.footer {
    width: 100%;
    padding: 20px 40px;
    background: #0A1A2F;
    border-top: 2px solid #ff6ec7;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    border-radius: 8px 8px 0 0;
}

.footer-left h2 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #ff6ec7;
}

.footer-left p {
    font-size: 14px;
    max-width: 350px;
    line-height: 1.5;
    color: #d9e9ff;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-right .social {
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
    border: 1px solid transparent;
}

.social.insta:hover { 
    border-color:#fd1d1d; 
     color: #fd1d1d;
     }
.social.x:hover {
     border-color: #000000;
      color: #000000;
     }
.social.linkedin:hover { 
    border-color: #0A66C2;
    color: #0A66C2; 
}


@media (max-width: 1200px) and (min-width: 601px) {

    .topbar { 
        padding: 10px 20px;
     }
    .topbar .logo { 
        width: 65px;
     }
    nav ul { 
        gap: 15px;
     }
    nav ul li a { 
        font-size: 16px;
         padding: 8px 12px; 
    }

    .company-box { 
        padding: 25px;
         border-radius: 20px;
     }
    .company-logo img {
         width: 150px;
         }
    .company-name { 
        font-size: 32px; 
    }
    .company-about { 
        font-size: 17px;
         padding: 0 10px; 
         text-align: justify; 
        }
    .company-image img { 
        max-width: 450px;
     }

    .footer-left h2 {
         font-size: 26px; 
        }
    .footer-right {
         gap: 15px; 
        }
}

@media (max-width: 600px) {

     .topbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        gap: 10px;
        height: auto;
    }

   
    .topbar .logo {
        width: 70px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

  
    nav ul {
        /* flex-direction: column; */
        align-items: center;
        width: 100%;
        gap: 12px;
        padding: 0;
        margin: 0;
        
    }

   
    nav ul li {
        width: 90%;
    }

    nav ul li a {
        display: block;
        width: 90%;
        margin: auto;
        padding: 12px 0;
        background: rgba(255,255,255,0.15);
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
    }

    
    .dropdown-menu {
        display: none;
        position: relative;
        top:5px; 
        width: 100%;
        /* margin-top: 5px; */
        border-radius: 10px;
    }

  
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    
    .dropdown-menu li a {
        padding: 10px 15px;
        display: block;
        width: 100%;
    }

    .company-box .company-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .company-text, .company-image { 
        flex: 1 1 100%;
     }
    .company-image { 
        margin-top: 20px;
     }
    .company-image img {
         max-width: 90%;
     }
        .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer-left p,
    .footer-left a {
        font-size: 14px;
    }

    .footer-contact p {
        font-size: 14px;
    }

  

   

   

    
}
